# Dependencies
/node_modules

# Build artifacts
/dist
/.astro

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Accessibility reports
a11y-report.json

#Media
/public

# Environment variables
.env
.env.*
!.env.example

# OS-specific
.DS_Store
Thumbs.db
public/resume.pdf
